* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}


.wrapper {
   margin: 80px auto;
   max-width: 1200px;
}

.accordion {
   display: flex;
   flex-direction: column;
   margin: 0 20px;
}

h1 {
   font-size: 32px;
   margin: 0 20px 20px 30px;
}

.accordion__item {
   width: 100%;
   background-color: #F5F5EB;
   margin-bottom: 10px;
   padding: 10px 10px 10px 10px;
}


/*добавим параметры background-image для title, чтобы при наведении отобразить иконку "+" (или x)*/
.accordion__title {
   margin-bottom: 10px;
   background-repeat: no-repeat;
   background-position: 99% 50%;
   transition: 0.5s ease;
}

input[type="radio"]{
   display: none;
}

.accordion__input:checked + .accordion__title {
   color: blue;
   transition: 0.5s ease;
}

.accordion__input:checked + .accordion {
   color: blue;
}


/* ~ - родственный селектор.
Св-ва применяются к картинке, которая находится с input или после него на одном уровне*/
.accordion__input:checked~.accordion__img {
   height: auto;
   padding: 5px;
   opacity: 1;
   transition: all 1.5s ease-in;
 }

.accordion__img {
   display: flex;
   flex-direction: column;
   align-items: center;   
   height: 0;
   overflow: hidden;
   opacity: 0;
   /* padding: 10px; */
   transition: all 0.5s ease-in;
}

.accordion__img img {
   /* padding: 10px; */
   max-width: 100%;
   /* height: auto; */
   text-align: center;
   transition: all 0.5s ease-in;
}


/*Добавим курсор и ховер на десктопной версии*/
@media (min-width: 1440px) {
   .accordion:hover {
      cursor: pointer;
   }

   .accordion__item:hover {
      cursor: pointer;
   }

   .accordion__item:hover > .accordion__img {
      height: 600px;
      padding: 10px;
      opacity: 1;
      transition: all 0.5s ease;
   }

   .accordion:hover .accordion__item:hover .accordion__title {
      background-image: url(assets/cross.svg);
      transition: 0.5s ease;
    }

   .accordion:hover .accordion__title {
      color: blue;
      background-image: url(assets/plus.svg);
      transition: 0.5s ease;
   }

   .accordion:hover .accordion__input:checked~.accordion__title {
      background-image: url(assets/cross.svg);
    }
}



